{% extends "base.html" %}
{% block content %}
  <div class="container mt-2">
    <h2>Streamline Your Workflow</h2>
    <p>
      Our task management tool is designed to streamline your workflow. Easily create and assign tasks, set priorities, and track progress. Increase your team's efficiency and productivity with our intuitive interface.
      <span id="dots">...</span><span id="more">
      <br><br>
      With our tool, you can:
      <ul>
        <li><b>Create and Assign Tasks:</b> Quickly add tasks and assign them to team members. Each task can include a description, due date, and attachments.</li>
        <li><b>Set Priorities:</b> Ensure important tasks are highlighted and addressed promptly by setting priorities.</li>
        <li><b>Track Progress:</b> Use our progress tracking features to see how tasks are progressing and identify any potential bottlenecks.</li>
        <li><b>Collaborate Effectively:</b> Enhance communication within your team with built-in collaboration tools, including comments and file sharing.</li>
        <li><b>Generate Reports:</b> Create detailed reports to gain insights into your team's performance and task completion rates.</li>
        <li><b>Integrate with Other Tools:</b> Seamlessly integrate our task management tool with other tools your team uses, such as email, calendars, and project management software.</li>
      </ul>
      Whether you are managing a small team or a large organization, our task management tool is the perfect solution to keep your projects on track and your team working efficiently. Experience the benefits of a well-organized workflow and improved productivity today!
      </span>
    </p>
  </div>
{% endblock %}
{% block footer %}
{% include 'includes/footer_background.html'  %}
{% endblock %}