{% extends "base.html" %}
{% block content %}
  {% for task in task_list %}
    <div class="container mt-3 mb-3">
      <div class="card">
        <div class="card-header">
          <h3>Task Detail</h3>
        </div>
        <form action="" method="get" class="form-inline d-flex justify-content-center align-items-center">
          {{ search_form }}
          <input type="submit" class="btn btn-primary" value="Find">
        </form>
        <div class="table-responsive">
          <table class="table table-hover table-striped tm-table-striped-even mt-3">
            <thead>
                <tr>
                    <th>Is completed</th>
                    <th class="text-center">Task Name</th>
                    <th class="text-center">
                        <a href="?ordering={{ next_ordering.deadline }}">Deadline
                            {% if current_ordering_deadline == '-deadline' %}
                                <span class="material-symbols-outlined">arrow_upward</span>
                            {% else %}
                                <span class="material-symbols-outlined">arrow_downward</span>
                            {% endif %}
                        </a>
                    </th>
                    <th class="text-center">
                        <a href="?ordering={{ next_ordering.priority }}">Priority
                            {% if current_ordering_priority == '-priority' %}
                                <span class="material-symbols-outlined">arrow_upward</span>
                            {% else %}
                                <span class="material-symbols-outlined">arrow_downward</span>
                            {% endif %}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>

            {% for task in task_list %}
              <tr onclick="window.location.href='{{ task.get_absolute_url }}';" style="cursor: pointer;">
                {#                <th scope="row">#}
                {#                  <input type="checkbox" aria-label="Checkbox">#}
                {#                  {{ task.is_completed }}#}
                {#                </th>#}
                <td>{{ task.is_completed }}</td>
                <td class="text-center">{{ task.name }}</td>
                <td class="text-center">{{ task.deadline }}</td>
                <td class="text-center">{{ task.get_priority_display }}</td>
              </tr>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
  

{% endblock %}