{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="row tm-content-row tm-mt-big p-2">
    <div class="col-xl-8 col-lg-12 tm-md-12 tm-sm-12 tm-col">
      <div class="bg-white tm-block h-100">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="d-flex justify-content-center align-items-center mb-3">
              <h2 class="tm-block-title d-inline-block mb-0">Tasks</h2>
              <a class="btn btn-primary m-2" id="add-task-btn" href="{% url 'task_manager:task-create' %}">+</a>
            </div>
          </div>
        </div>
        <form action="" method="get" class="form-inline d-flex justify-content-center align-items-center">
          {{ search_form }}
          <input type="submit" class="btn btn-primary" value="Find">
        </form>
        <div class="table-responsive">
          <table class="table table-hover border-bottom-lg table-striped tm-table-striped-even mt-3">
            <thead>
                <tr>
                    <th>Is completed</th>
                    <th class="text-center">Task Name</th>
                    <th class="text-center">
                        <a href="?ordering={{ next_ordering.deadline }}">Deadline
                            {% if current_ordering_deadline == '-deadline' %}
                                <span class="material-symbols-outlined">arrow_upward</span>
                            {% else %}
                                <span class="material-symbols-outlined">arrow_downward</span>
                            {% endif %}
                        </a>
                    </th>
                    <th class="text-center">
                        <a href="?ordering={{ next_ordering.priority }}">Priority
                            {% if current_ordering_priority == '-priority' %}
                                <span class="material-symbols-outlined">arrow_upward</span>
                            {% else %}
                                <span class="material-symbols-outlined">arrow_downward</span>
                            {% endif %}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>

            {% for task in task_list %}
              <tr onclick="window.location.href='{{ task.get_absolute_url }}';" style="cursor: pointer;">
                {#                <th scope="row">#}
                {#                  <input type="checkbox" aria-label="Checkbox">#}
                {#                  {{ task.is_completed }}#}
                {#                </th>#}
                <td>{{ task.is_completed }}</td>
                <td class="text-center">{{ task.name }}</td>
                <td class="text-center">{{ task.deadline }}</td>
                <td class="text-center">{{ task.get_priority_display }}</td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
          <hr>
          {% include 'includes/pagination.html' with task_list=task_list %}
        </div>

      </div>
    </div>

    <div class="col-xl-4 col-lg-12 tm-md-12 tm-sm-12 tm-col">
      <div class="bg-white tm-block h-100">
        <h2 class="tm-block-title d-inline-block">Task Types</h2>
        <table class="table table-hover table-striped mt-3">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Counts</th>
            <th scope="col">Delete</th>
          </tr>
          </thead>
          <tbody>
          {% for type in task_types %}
              <tr>
                {% if type.task_count > 0 %}
                <td><a href="?type={{ type.name }}"><strong>{{ type.name }}</strong></a></td>
                {% elif type.task_count == 0 %}
                <td>{{ type.name }}</td>  
                {% endif %}
                <td>{{ type.task_count }}</td>
                <td class="tm-trash-icon-cell">
                  <a href="{% url 'task_manager:task-type-delete' pk=type.task_pk %}"><i
                      class="fas fa-trash-alt tm-trash-icon"></i></a>
                </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>

        <a href="{% url 'task_manager:task-type-create' %}" class="btn btn-primary tm-table-mt">Add New Category</a>
      </div>
    </div>
  </div>
{% endblock content %}
