{% extends "base.html" %}
{% block content %}
  <div class="d-flex justify-content-center p-2">
    <h1>Worker
      <a class="btn btn-primary pl-2" href="{% url 'task_manager:worker-create' %}">Add worker</a>
    </h1>
  </div>
  <form action="" method="get" class="form-inline d-flex justify-content-center align-items-center">
    {{ search_form }}
    <input type="submit" class="btn btn-primary" value="Find">
  </form>
  {% for worker in worker_list %}

      <div class="card mt-3">
        <div class="card-header">
          <h3>
            <a href="{% url 'task_manager:worker-update' pk=worker.pk %}" class="text-decoration-none">username: {{ worker.username }}</a>
          </h3>
        </div>
        <div class="card-body">
          <h5 class="card-title">full name:{{ worker.get_full_name }}</h5>
          <p class="card-text"><strong>Position:</strong> {{ worker.position.name }}</p>
        </div>
      </div>

    {% endfor %}
  </div>
{% endblock %}